{% extends 'app/base.html' %}
{% load static %}
{% block content %}

{% comment %} <ul>
    {% for pedido in pedidos %}
        <li>
            <strong>Fecha del Pedido:</strong> {{ pedido.fecha_pedido }}<br>
            <strong>Dirección de Entrega:</strong> {{ pedido.direccion_entrega }}<br>
            <strong>Estado:</strong> {{ pedido.estado }}<br>
            <strong>Productos:</strong>
            <ul>
                {% for producto in pedido.productos.all %}
                    <li>{{ producto.nombre }} - Precio: ${{ producto.precio }}</li>
                {% endfor %}
            </ul>
            <form method="post" action="{% url 'cambiar_estado_pedido' pedido.id %}">
                {% csrf_token %}
                <select name="nuevo_estado">
                    {% for choice in pedido.ESTADOS_PEDIDO %}
                    <option value="{{ choice.0 }}" {% if choice.0 == pedido.estado %}selected{% endif %}>{{ choice.1 }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Cambiar Estado</button>
            </form>
        </li>
    {% endfor %}
</ul> {% endcomment %}

<div class = "container-sm" > 
    <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
     <div class="carousel-inner">
       <div class="carousel-item active">
         <img src="{% static 'app\img\banner\bn1.jpg' %}" class="d-block w-100" alt="...">
       </div>
       <div class="carousel-item">
         <img src="{% static 'app\img\banner\bn2.jpg' %}" class="d-block w-100" alt="...">
       </div>
       <div class="carousel-item">
         <img src="{% static 'app\img\banner\bn3.jpg' %}" class="d-block w-100" alt="...">
       </div>
     </div>
     <button class="carousel-control-prev" style="width: 300px; height:300px;" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
      </svg>
     </button>
     <button class="carousel-control-next" style="width: 300px; height:300px;" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
      </svg>
     </button>
    </div>
    </div>



{% endblock %}